/* .grid-container{
    max-width: 1140px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 150px 300px;
    gap: 10px;
}

.item:nth-child(2){
    grid-row: 1/3;
    grid-column: 2/3;
}
.item:nth-child(4){
    grid-row: 2/4;
}
.item:nth-child(6){
    grid-row: 2/4;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
 } */


 

 .box{
    width: 100px;
    height: 100px;
    background-color: red;
    color: green;
    animation-name: alpBarselona;
    animation-duration: 3s;
    animation-timing-function: ease;
 }



  @keyframes alpBarselona{
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(1000px);
    }
  }
  