* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.p-3 {
    padding: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.p-10 {
    padding: 10px;
}

.gap-20 {
    gap: 20px;
}

.mt-3{
    margin-top: 3rem;
}

.flex-col{
    flex-direction: column;
}
/* xs */
@media screen and (max-width:576px) {
    .container {
        max-width: auto;
        margin: auto;
    }

    .col-1 {
        width: calc(100%/12*1);
    }

    .col-2 {
        width: calc(100%/12*2);
    }

    .col-3 {
        width: calc(100%/12*3);
    }

    .col-4 {
        width: calc(100%/12*4);
    }

    .col-5 {
        width: calc(100%/12*5);
    }

    .col-6 {
        width: calc(100%/12*6);
    }

    .col-7 {
        width: calc(100%/12*7);
    }

    .col-8 {
        width: calc(100%/12*8);
    }

    .col-9 {
        width: calc(100%/12*9);
    }

    .col-10 {
        width: calc(100%/12*10);
    }

    .col-11 {
        width: calc(100%/12*11);
    }

    .col-12 {
        width: 100%;
    }

}


/* sm */
@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
        margin: auto;
    }

    .col-sm-1 {
        width: calc(100%/12*1);
    }

    .col-sm-2 {
        width: calc(100%/12*2);
    }

    .col-sm-3 {
        width: calc(100%/12*3);
    }

    .col-sm-4 {
        width: calc(100%/12*4);
    }

    .col-sm-5 {
        width: calc(100%/12*5);
    }

    .col-sm-6 {
        width: calc(100%/12*6);
    }

    .col-sm-7 {
        width: calc(100%/12*7);
    }

    .col-sm-8 {
        width: calc(100%/12*8);
    }

    .col-sm-9 {
        width: calc(100%/12*9);
    }

    .col-sm-10 {
        width: calc(100%/12*10);
    }

    .col-sm-11 {
        width: calc(100%/12*11);
    }

    .col-sm-12 {
        width: 100%;
    }

}


/* md */
@media screen and (min-width:768px) {
    .container {
        max-width: 720px;
        margin: auto;
    }

    .col-md-1 {
        width: calc(100%/12*1);
    }

    .col-md-2 {
        width: calc(100%/12*2);
    }

    .col-md-3 {
        width: calc(100%/12*3);
    }

    .col-md-4 {
        width: calc(100%/12*4);
    }

    .col-md-5 {
        width: calc(100%/12*5);
    }

    .col-md-6 {
        width: calc(100%/12*6);
    }

    .col-md-7 {
        width: calc(100%/12*7);
    }

    .col-md-8 {
        width: calc(100%/12*8);
    }

    .col-md-9 {
        width: calc(100%/12*9);
    }

    .col-md-10 {
        width: calc(100%/12*10);
    }

    .col-md-11 {
        width: calc(100%/12*11);
    }

    .col-md-12 {
        width: 100%;
    }

}


/* lg */
@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
        margin: auto;
    }

    .col-lg-1 {
        width: calc(100%/12*1);
    }

    .col-lg-2 {
        width: calc(100%/12*2);
    }

    .col-lg-3 {
        width: calc(100%/12*3);
    }

    .col-lg-4 {
        width: calc(100%/12*4);
    }

    .col-lg-5 {
        width: calc(100%/12*5);
    }

    .col-lg-6 {
        width: calc(100%/12*6);
    }

    .col-lg-7 {
        width: calc(100%/12*7);
    }

    .col-lg-8 {
        width: calc(100%/12*8);
    }

    .col-lg-9 {
        width: calc(100%/12*9);
    }

    .col-lg-10 {
        width: calc(100%/12*10);
    }

    .col-lg-11 {
        width: calc(100%/12*11);
    }

    .col-lg-12 {
        width: 100%;
    }

}


/* xl */
@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
        margin: auto;
    }

    .col-xl-1 {
        width: calc(100%/12*1);
    }

    .col-xl-2 {
        width: calc(100%/12*2);
    }

    .col-xl-3 {
        width: calc(100%/12*3);
    }

    .col-xl-4 {
        width: calc(100%/12*4);
    }

    .col-xl-5 {
        width: calc(100%/12*5);
    }

    .col-xl-6 {
        width: calc(100%/12*6);
    }

    .col-xl-7 {
        width: calc(100%/12*7);
    }

    .col-xl-8 {
        width: calc(100%/12*8);
    }

    .col-xl-9 {
        width: calc(100%/12*9);
    }

    .col-xl-10 {
        width: calc(100%/12*10);
    }

    .col-xl-11 {
        width: calc(100%/12*11);
    }

    .col-xl-12{
        width: 100%;
    }
}