*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    background-color: #f8f8f8;
}

.pricing-section{
        text-align: center;
        padding: 80px 0;
}

.sub-tittle{
        color: #ffa62b;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 50px;
}

.tittle{
    font-size: 36px;
    color: #333;
    margin-bottom: 50px;
}

.pricing-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pricing-card{
        background-color:#fff;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 50px 60px;
        width: 340px;
        height: 380px;
        border-radius: 6px;
        text-align: center;
}

.pricing-card h5{
    color: #777;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.pricing-card h1{
    color: #f39c12;
    font-size: 36px;
    margin-bottom: 10px;
}

.pricing-card p{
     color: #777;
     font-size: 14px;
     line-height: 22px;
     margin-bottom: 30px;
}

.pricing-buttom{
        background-color: #f39c12;
        color: white;
        border: none;
        padding: 12px 25px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 3px;
}

.pricing-card button:hover{
    background-color: #d98209;
}