body {
  background: linear-gradient(90deg,rgba(127, 127, 161, 0.91) 0%, rgb(16, 16, 186) 35%, rgba(0, 212, 255, 1) 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 270px;
  padding: 20px;
  background: rgba(17, 100, 93, 0.908);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

#display {
  width: 100%;
  height: 55px;
  border-radius: 12px;
  border: none;
  margin-bottom: 15px;
  text-align: right;
  font-size: 28px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: rgba(255,255,255,0.7);
  transition: 0.2s;
}

button:hover {
  background: rgba(196, 7, 7, 0.745);
  transform: scale(1.05);
}

.op {
  background: aqua;
}

.op:hover {
  background: rgba(196, 7, 7, 0.745);
}

.equal {
  background: #4c6ef5;
  color: white;
}

.equal:hover {
  background: rgba(196, 7, 7, 0.745);
}

.clear {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  background: #2071dc ;
  color: white;
  font-size: 22px;
  border-radius: 14px;
}

.clear:hover {
  background: rgba(196, 7, 7, 0.745);
}
