body{
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F8F8;
}


.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.head{
    line-height: 1.4;
}
.head span {
    color: #FFA62B;
    font-weight: 500;
    font-size:20px;
    margin-bottom: 10px;
}

.head h2 {
    font-size: 54px;
    margin: 0;
    color: #323232;
}

.text{
    color: #999999;
    font-size: 16px;
    line-height: 1.6;
}

.card-item{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-icon i{
    margin-right: 20px;
  flex-direction: column;
  padding: 5px;
    font-size: 50px;
    color: #FFA62B;
   
}
.cards{
    display: flex;
    gap: 20px;
    padding: 20px; 
}